body {
  background-color: yellow;
}
.redText {
  color: rgb(255, 60, 0);
}
h1 {
  color: rgb(255, 60, 0);
}
.marioSpeech {
  margin-left: 10px;
}
.quiz {
  text-decoration: none;
  color: red;
}
.quiz:hover {
  color: red;
}
